@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.app{
  text-align: center;
  margin: 100px 0;

  
}

.header-title {
  font-family: Lato, sans-serif;
  color: #347866;
}

.ui-area{
  display: block;
  width: 100%;
}

.ui-btns{
  float: left;
}

.search-area{
  width: 310px;
  margin-right: 15px;
  border: 1px solid grey;
  border-radius: 5px;
  float: right;
}

.search-btn{
  text-align: left;
  margin: 0 10px;
  font-size: 10px;
}

.clear-search-btn{
  margin-left: 5px
}

.ui-btns button{
  margin: 0 10px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.create-btn{
  background-color: #FFF740;
  float: left;
}

.delete-btn{
  background-color: #FF65A3;
  float: right;
}

.notes-area{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.note{
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  margin: 10px;
  background-color:  #FFF740;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  /* color: #5a5a5a; */
  font-family: Lato, sans-serif;
}

.note-title{

}

.note-details{

}

.note-body{
  margin: 10px 0;
  font-size: small;
  word-break: break-word;
}

.modify-note-btns{
  margin: 0 5px;
  margin-top: auto;
  margin-bottom: 5px;

  button{
    margin: 0 5px;
  }
}

.action-dialog{
  width: 300px;
  background-color:  #FFF740;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.action-dialog form{
  margin: 0 10px;
}

.form-fields{
  margin: 20px 0; 
}

.dialog-btn-area{
  margin: 0 20px;
  button{
    margin: 0 5px;
  }
}

@media screen and (max-width:451px) {
  
}